*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
    color: #3E206D;
}
body{
    background-color: #F0E3FF;
}

/*INDEX O PAGINA DE INICIO*/

 .index{
    top: 10%;
    position: absolute;
    width: 50%;
    height: 85%;
    padding: 5%;
    left: 20%;
    right: -20%;
    text-align: justify;
    background-color: rgba(145, 109, 213,0.5);
 }
 .index h1{
    text-align: center;
    margin-bottom: 2%;
    margin-top: -5%;
 }
 .index p{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
 }

 #bg-img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
 }
 button{
    border: none;
    width: 45%;
    height: 12%;
    background-color:rgb(216, 156, 246);
    box-shadow: 2px 2px rgba(42, 0, 105, 0.379);
 }
 button:hover{
    background-color:rgb(240, 227, 255);
 }

 /*PAGINA DE ESTIMACION PUNTUAL Y POR INTERVALOS*/

 td{
    width:10%;
    border: 1px solid #3E206D;
    margin: 0 1% 0 1%;
    text-align: center;
 }
 input{
    border: none;
    width: 20%;
    height: 30px;
    margin: 2%;
 }
 input[type=submit]{
    border: none;
    width: 25%;
    height: 30PX;
    background-color:rgb(216, 156, 246);
    box-shadow: 2px 2px rgba(42, 0, 105, 0.379);
 }
 input[type=submit]:hover{
    color: #F0E3FF;
    background-color: #3E206D;
 }
 #btn-par{
    width: 60%;
 }
 button:hover{
    color: #F0E3FF;
    background-color: #3E206D;
 }

 /*BOTON DE INICIO Y VARIANTE*/

 #btn-int{
    position: absolute;
    border: none;
    width: 15%;
    height: 5%;
    top: 11%;
    left: 1%;
    background-color:rgb(216, 156, 246);
    box-shadow: 2px 2px rgba(42, 0, 105, 0.379);
 }
 #btn-int:hover, #btn-var:hover{
    color: #F0E3FF;
    background-color: #3E206D;
 }
 #btn-var{
    position: absolute;
    border: none;
    width: 15%;
    height: 5%;
    top: 17%;
    left: 1%;
    background-color:rgb(216, 156, 246);
    box-shadow: 2px 2px rgba(42, 0, 105, 0.379);
 }

 /* FOOTER */
 .foot{
    top: 0%;
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #3E206D;
 }
 .foot p{
    top: 35%;
    position: relative;
    text-align: center;
    color: #ffffff;
 }

